.burger-menu {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: none;
    padding: 12px 10px;
    background: #273903;
}

.burger-menu.active {
    display: flex;
    flex-direction: column;
}

.burger-menu_top {
    padding: 12px 0;
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: space-between;
}


.burger-menu_right {
    gap: 0 20px;
    display: flex;
    align-items: center;
}

.burger-menu_bottom {
    width: 100%;
    right: 0;
    top: 100%;
    height: 89vh;
    background: #fff;
    padding: 20px 16px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.burger-menu_list{
    width: 100%;
}

.burger-menu_item a{
    display: flex;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 0;
    text-transform: uppercase;
    justify-content: space-between;
}

.burger-menu_item:not(:last-child){
     border-bottom: 1px solid #00000049;
}

.burger-menu_locale{
    margin-top: auto;
}

.burger-menu_locale button{
    display: flex;
    gap: 5px;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    background: transparent;
}