.hero {
    height: 145vh;
    position: relative;
}

.hero-md {
    display: none;
}

.hero-inner {
    padding: 40px 0;
}

.hero-bg {
    left: 0;
    bottom: 43px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    z-index: 1;
    gap: 15px 0;
    display: flex;
    position: relative;
    flex-direction: column;
}

.hero-title {
    display: flex;
    align-items: end;
    position: relative;
}

.hero-title h1 {
    font-size: 96px;
    font-weight: 600;
    text-transform: uppercase;
}

.hero-title p {
    bottom: 14px;
    line-height: 150%;
    max-width: 544px;
    position: absolute;
    margin-left: 461px;
}

.hero-btn {
    font-size: 24px;
    font-weight: 500;
    padding: 16px;
    width: 242px;
    display: flex;
    color: #000;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    background: #FFCD1D;
}

@media(max-width: 992px) {

    .hero-info {
        align-items: start;
    }

    .hero-title {
        gap: 15px 0;
        align-items: start;
        flex-direction: column;
    }

    .hero-title p {
        margin-left: 0;
        position: relative;
    }
}

@media(max-width: 850px) {
    .hero-title h1 {
        font-size: 52px;
    }
}

@media(max-width: 474px) {
    .hero {
        display: none;
    }

    .hero-md {
        height: 123vh;
        display: flex;
        position: relative;
    }

    .hero-md_bg {
        right: 0;
        bottom: 173px;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .hero-md_bg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-md_inner {
        padding: 28px 0;
    }

    .hero-info_md {
        z-index: 1;
        gap: 15px 0;
        display: flex;
        position: relative; 
        text-align: center;
        align-items: center;
        flex-direction: column;

    }

    .hero-info_md h1 {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .hero-info_md p {
        text-align: start;
        font-size: 14px;
        line-height: 150%;
    }

    .hero-btn{
        width: 100%;
        font-size: 20px;
    }
}